<div class="d-flex justify-content-between align-items-center mx-3">
  <mat-form-field >
    <mat-label>Buscar</mat-label>
    <input matInput (keyup)="filtrar($event)" placeholder="Buscar">
  </mat-form-field>
  <div>
    <input type="button" value="Añadir" class="btn btn-success">
  </div>
</div>

<div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource" matSort > 
  
      <!-- Position Column -->
      <ng-container matColumnDef="position">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> No. </th>
        <td mat-cell *matCellDef="let element"> {{element.position}}  </td>
      </ng-container>
  
      <!-- Name Column -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
      </ng-container>
  
      <!-- Weight Column -->
      <ng-container matColumnDef="weight">
        <th mat-header-cell *matHeaderCellDef  mat-sort-header> Weight </th>
        <td mat-cell *matCellDef="let element"> {{element.weight}} </td>
      </ng-container>
  
      <!-- Symbol Column -->
      <ng-container matColumnDef="symbol" >
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Symbol </th>
        <td class=" tdMod d-flex justify-content-between align-items-center"mat-cell *matCellDef="let element"> <div>{{element.symbol}}</div> <div><input type="button" class="btn btn-primary mx-2 " value="Actualizar"><input type="button" class="btn btn-danger"  value="Borrar"></div> </td>
      </ng-container>
  
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  
    <mat-paginator [pageSizeOptions]="[3, 5,10,20]" showFirstLastButtons 
                   aria-label="Select page of periodic elements">
    </mat-paginator>
  </div>
  
