<div class="container__inicio">

<section class="target_addCarrito displayNone" id="targetAddCarrito">
    <p>Se añadio:</p>
    <h5>Perro Caliente</h5>
    <p>al carrito</p>
  </section>


    <section class="container__section">
        <header>
            <img src="../../assets/imgs/logo.png" alt="">
        </header>
        <nav class="navFirst">
            <ol class="">
              <li (click)="direccionarUrl('login')">Inicia Sesion</li>
            </ol>
        </nav>
        <section class="seccion__principal">
            <div>
                <h1>Menú</h1>
            </div>
        </section>
    </section>
<main id="main">
    <nav class="nav">
        <ul class="d-flex flex-wrap justify-content-center">
            <a href="#hamburguesas"><li>Hamburguesas</li></a>
            <a href="#perros"><li>Perros Calientes</li></a>
            <a href="#salchipapas"><li>Salchipapas</li></a>
            <a href="#quesadillas"><li>Quesadillas</li></a>
            <a href="#mazorcadas"><li>Mazorcadas</li></a>
        </ul>
    </nav>
            <!-- ------- -->
    <section id="hamburguesas" id="containerTarget"class="section__container--targets">
    <h2 >Hamburguesas</h2>
        <section class="container__targets">
    <!-- ....... -->
            <div class="card m-3" style="width: 18rem;">
                <img class="card-img-top" src="../../assets/imgs/hamburguesa.jpg" alt="Card image cap">
                <div class="card-body">
                <h5 class="card-title">Hamburguesa Carne</h5>
                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos, excepturi.</p>
                <input type="button" class="px-3 btn btn-warning" value="¡Pedir ahora!">
                </div>
            </div>
            <!-- ....... -->
            <!-- ....... -->
            <div class="card m-3" style="width: 18rem;">
                <img class="card-img-top" src="../../assets/imgs/hamburguesa.jpg" alt="Card image cap">
                <div class="card-body">
                <h5 class="card-title">Hamburguesa </h5>
                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos, excepturi.</p>
                <input type="button" class="px-3 btn btn-warning" value="¡Pedir ahora!">
                
            </div>
            </div>
            <!-- ....... -->
            <!-- ....... -->
            <div class="card m-3" style="width: 18rem;">
                <img class="card-img-top" src="../../assets/imgs/hamburguesa.jpg" alt="Card image cap">
                <div class="card-body">
                <h5 class="card-title">Hamburguesa </h5>
                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos, excepturi.</p>
                <input type="button" class="px-3 btn btn-warning" value="¡Pedir ahora!">
                </div>
            </div>
        </section>
    </section>
<!-- ---------- -->
    <section id="perros" class="section__container--targets">
        <h2 >Perros Calientes</h2>
        <section class="container__targets">
            <!-- ....... -->
            <div class="card m-3" style="width: 18rem;">
                <img class="card-img-top" src="../../assets/imgs/perro.jpg" alt="Card image cap">
                <div class="card-body">
                <h5 class="card-title">Perro caliente </h5>
                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos, excepturi.</p>
                <input type="button" class="px-3 btn btn-warning" value="¡Pedir ahora!">
                </div>
            </div>
            <!-- ....... -->
            <!-- ....... -->
            <div class="card m-3" style="width: 18rem;">
                <img class="card-img-top" src="../../assets/imgs/perro.jpg" alt="Card image cap">
                <div class="card-body">
                <h5 class="card-title">Perro caliente </h5>
                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos, excepturi.</p>
                <input type="button" class="px-3 btn btn-warning" value="¡Pedir ahora!">
                </div>
            </div>
            <!-- ....... -->
            <!-- ....... -->
            <div class="card m-3" style="width: 18rem;">
                <img class="card-img-top" src="../../assets/imgs/perro.jpg" alt="Card image cap">
                <div class="card-body">
                <h5 class="card-title">Perro caliente </h5>
                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos, excepturi.</p>
                <input type="button" class="px-3 btn btn-warning" value="¡Pedir ahora!">
                </div>
            </div>
<!-- ....... -->
        </section>
    </section>
    <!-- ----------- -->
    <section id="salchipapas" class="section__container--targets">
        <h2>Salchipapas</h2>
        <section class="container__targets">
            <!-- ....... -->
            <div class="card m-3" style="width: 18rem;">
                <img class="card-img-top" src="../../assets/imgs/salchipapas.jpg" alt="Card image cap">
                <div class="card-body">
                <h5 class="card-title">Salchipapa</h5>
                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos, excepturi.</p>
                <input type="button" class="px-3 btn btn-warning" value="¡Pedir ahora!">
                </div>
            </div>
            <!-- ....... -->
            <!-- ....... -->
            <div class="card m-3" style="width: 18rem;">
                <img class="card-img-top" src="../../assets/imgs/salchipapas.jpg" alt="Card image cap">
                <div class="card-body">
                <h5 class="card-title">Salchipapa</h5>
                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos, excepturi.</p>
                <input type="button" class="px-3 btn btn-warning" value="¡Pedir ahora!">
                </div>
            </div>
            <!-- ....... -->
            <!-- ....... -->
            <div class="card m-3" style="width: 18rem;">
                <img class="card-img-top" src="../../assets/imgs/salchipapas.jpg" alt="Card image cap">
                <div class="card-body">
                <h5 class="card-title">Salchipapa</h5>
                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos, excepturi.</p>
                <input type="button" class="px-3 btn btn-warning" value="¡Pedir ahora!">
                </div>
            </div>
            <!-- ....... -->
            <!-- ....... -->
        </section>
    </section>
    </main>
    <!-- ---- -->
    <footer  id="contacto" class=" p-2 d-flex d-flex flex-wrap ">
        <div class="container__footer--left p-4">
            <div class="container__logo">
                <img src="../../assets/imgs/logo2.png" alt="">
            </div>
            <div class="redes">
                <div>
                    <a href="./html/otros/404.html"><img src="../../assets/imgs/facebook.png" alt=""></a>
                    <a href="https://www.instagram.com/"><img src="../../assets/imgs/instagram.png" alt=""></a>
                    <a href="https://www.whatsapp.com/"><img src="../../assets/imgs/whatsapp.png" alt=""></a>
                </div>
                <div>
                    <p>3214321243</p>
                </div>
            </div>
        </div>
        <div class="form__container">
            <form class="form mt-3">
                <h3>Contactanos!</h3>
                <input type="text" class="form-control mb-2 mr-sm-2" id="inlineFormInputName2" placeholder="Nombre">
                <div class="input-group mb-2 mr-sm-2">
                  <div class="input-group-prepend">
                    <div class="input-group-text mt-2">@</div>
                  </div>
                  <input type="email" class="form-control" id="inlineFormInputGroupUsername2" placeholder="Email">
                </div>
              
                <div class="form-check mb-0 mr-sm-0">
                  <textarea name="" id="" cols="30" rows="5" placeholder="¡Cuentanos!"></textarea>
                </div>
              
                <button type="button" id="btnEnviarContactanos" class="btn btn-dark mb-2 border-0">Enviar</button>
              </form>
        </div>
        
    </footer>


</div>



